/* noto-sans-regular - latin */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: $heading-font;
}

figure {
  margin-bottom: 0;
}

.container-xl,
.hero-slides {
  max-width: 1350px;
}

.container-xl,
.container-fluid {
  @include maxWidth(1199px) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  @include maxWidth(767px) {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.btn {
  border-radius: 100vmax;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 2px;
}
