$primary: #256eba;
$secondary: #f4b124;
$font-family-base: 'Noto Sans';
$heading-font: 'Open Sans';

@font-face {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/noto-sans-v27-latin-regular.woff2') format('woff2'),
    url('../fonts/noto-sans-v27-latin-regular.woff') format('woff');
  font-display: swap;
}

/* open-sans-800 - latin */
@font-face {
  font-family: $heading-font;
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/open-sans-v34-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/open-sans-v34-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
