$warning: #000;
$primary: #00843d;
$secondary: #ff0000;
$white: #fff;
$black: #000;
$stylisht-font: 'Forum';
$font-family-base: 'Inter';
$light: #f7f7f7;
$themeColor: $primary;
$link-color: #0d6efd;
$whatsappColor: #25d366;
$phoneColor: #0abf53;
// $modal-fade-transform: translate(0, 50px);
// $modal-transition: none;
// $modal-show-transform: translate(0, 0);
$table-striped-bg: rgba($primary, 0.2);
