footer {
  background-color: $primary;
  padding-top: 4rem;
  .footer-top {
    color: $white;
    &__heading {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  .copyright {
    background-color: darken($primary, 30);
    font-size: 0.9rem;
    padding: 1.5rem 1rem;
    text-align: center;
    // color: $gray-900;
    color: $gray-500;
    @media (max-width: 991px) {
      padding-bottom: 6rem;
    }
  }
}
