@import 'customVariables';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import 'mixin';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/code';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/tables';
@import '../node_modules/bootstrap/scss/forms';
@import '../node_modules/bootstrap/scss/buttons';
@import '../node_modules/bootstrap/scss/transitions';
@import '../node_modules/bootstrap/scss/dropdown';
@import '../node_modules/bootstrap/scss/button-group';
@import '../node_modules/bootstrap/scss/input-group';
@import '../node_modules/bootstrap/scss/custom-forms';
@import '../node_modules/bootstrap/scss/nav';
@import '../node_modules/bootstrap/scss/navbar';
@import '../node_modules/bootstrap/scss/card';
@import '../node_modules/bootstrap/scss/breadcrumb';
@import '../node_modules/bootstrap/scss/pagination';
@import '../node_modules/bootstrap/scss/badge';
@import '../node_modules/bootstrap/scss/jumbotron';
@import '../node_modules/bootstrap/scss/alert';
@import '../node_modules/bootstrap/scss/progress';
@import '../node_modules/bootstrap/scss/media';
@import '../node_modules/bootstrap/scss/list-group';
@import '../node_modules/bootstrap/scss/close';
@import '../node_modules/bootstrap/scss/toasts';
@import '../node_modules/bootstrap/scss/modal';
@import '../node_modules/bootstrap/scss/tooltip';
@import '../node_modules/bootstrap/scss/popover';
@import '../node_modules/bootstrap/scss/carousel';
@import '../node_modules/bootstrap/scss/spinners';
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/print';

@import 'header';
/* header {
  // background-color: $secondary;
} */
.slider-section {
  background-color: $primary;
  padding: 3rem 1rem 5rem;
  height: 550px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: red solid 1px;
  .hero-slides {
    color: $white;
    &__items {
      max-width: 950px;
      margin: 0 auto;
    }
  }
}

.top-info {
  position: relative;
  z-index: 3;
  margin-top: -5rem;
  padding: 0 0 4rem;
  &__items {
    border-radius: 0.9rem;
    background-color: $white;
    padding: 1.9rem;
    box-shadow: 0 0 1.2rem rgba($black, 0.1);
    h3 {
      color: $primary;
      text-transform: capitalize;
      font-weight: 500;
    }
    i {
      font-size: 2rem;
      color: $secondary;
      margin-bottom: 0.9rem;
    }
  }
}

.about-section {
  background-size: cover;
  background-position: center center;
  padding: 5rem 0;
  position: relative;
  h2 {
    color: $primary;
  }

  ul {
    li {
      padding-left: 1.5rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      &::before {
        display: block;
        float: left;
        // margin-top: 0.3rem;
        margin-left: -1.5rem;
        font-family: 'Font Awesome 5 Free';
        content: '\f00c';
        font-weight: 900;
        color: $primary;
      }
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba($white, 0.7);
    z-index: auto;
  }
}

.about-slider-section {
  padding: 3rem 0;
}

.video-section {
  background-color: lighten($primary, 20);
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.3rem;
      background-color: $primary;
      color: $white;
      width: 90px;
      height: 90px;
      text-decoration: none;
      font-size: 1.5rem;
      border-radius: 100vmax;
    }
  }
  &__right {
    background-color: lighten($primary, 50);
    padding: 2.5rem 3.5rem;
    .accordion {
      counter-reset: list-counter;
      a {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        padding-left: calc(1.25rem + 2rem);
        font-size: 1.1rem;
        font-weight: 700;
        &::before {
          margin-left: -2rem;
          display: block;
          float: left;
          counter-increment: list-counter;
          content: counter(list-counter, decimal-leading-zero);
          color: $primary;
        }
      }
    }
  }
  &__heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

.service-section {
  background-color: rgba($gray-100, 0.2);
  padding: 4rem 0;
  h2 {
    color: $primary;
  }
  .service-slides {
    &__items {
      padding: 1.5rem;
      padding-left: calc(4rem + 1.5rem);
      background-color: $white;
      box-shadow: 0 0 1.2rem rgba($black, 0.1);
      h5 {
        color: $primary;
        font-weight: 700;
      }
      i {
        display: block;
        float: left;
        margin-left: -4rem;
        margin-top: 0.4rem;
        color: $secondary;
        font-size: 2rem;
      }
    }
  }

  .owl-stage-outer {
    padding-top: 1rem;
    padding-left: 0.5rem;
  }
  .owl-stage {
    // border: red solid 1px;
    @include responsive(min768) {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
    .owl-item {
      @include responsive(min768) {
        width: calc(50% - 1.5rem);
      }
    }
  }
}

.call-action-section {
  background-color: $primary;
  padding: 6rem 0;
  color: $white;
  &__right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100%;
  }
}

.portfolio-section {
  text-align: center;
  padding: 4rem 0;
  .nav-pills .nav-link.active {
    border-radius: 100vmax;
  }
  h2 {
    color: $primary;
  }
  .nav-pills {
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
  .owl-stage {
    @include responsive(min768) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 2rem;
    }
    .owl-item {
      @include responsive(min768) {
        width: calc(33.3% - 2rem);
        // margin-bottom: 2rem;
      }
    }
  }
}

.team-section,
.faq-section {
  h2 {
    color: $primary;
    text-align: center;

    & + p {
      text-align: center;
    }
  }
  background-color: lighten($primary, 45);
  padding: 5rem 0;
}
figure {
  margin-top: 1rem;
}

.team-section {
  &__items {
    display: flex;
    background-color: $white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.2rem rgba($black, 0.1);
    h4 {
      color: $primary;
    }
    .thumbs {
      flex: 1 0 130px;
      height: 130px;
      background-color: darken($primary, 10);
      border-radius: 100vmax;
      align-self: flex-start;
      margin-right: 1.5rem;
    }

    .designation {
      font-weight: 700;
      position: relative;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      &::before {
        position: absolute;
        width: 4rem;
        height: 2px;
        background-color: rgba($primary, 0.2);
        content: '';
        bottom: 0;
        left: 0;
      }
    }

    .social {
      @extend %social-component;
    }
  }
}

.contact-section {
  position: relative;
  padding: 5rem 0;
}

.card {
  border: none;
  border-radius: 0.4rem !important;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  .card-body {
    padding-top: 0;
  }
  .collapse {
    border: 0;
    // color: $primary;
    &.show {
      background: $white;
      line-height: 30px;
      // color: #222;
    }
  }
  .collapsing {
    background: $white;
    line-height: 30px;
  }
  .card-header {
    border: 0;
    // -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    // box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    // border-radius: 2px;
    padding: 0;
    .btn {
      border-radius: inherit;
    }
    .btn-header-link {
      &:not(.collapsed) {
        color: $primary;
      }
      display: block;
      text-align: left;
      background: $white;
      // color: #222;
      // padding: 20px;
      &.collapsed {
        // background: $white;
        // color: #fff;
        &::after {
          content: '\f106';
        }
      }
      &::after {
        content: '\f107';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        float: right;
      }
    }
  }
}

@import 'common';
@import 'footer';
